.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
section, footer {
	padding-left: 24px;
	padding-right: 24px;
}
.green {
	color: #B7F76D;
}
.black {
	color: #000000;
}
.yellow {
	color: #FF7833;
}
body {
	background: #F4F5F5;
}
