.wrapper {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
}
.accent {
	color: #FF4500;
}
.grey {
	color: #ADADAD;
}
.white {
	color: #FFFFFF;
}
body {
	background-color: #FFFFFF;
}
section {
	padding-left: 15px;
	padding-right: 15px;
}

