@font-face {
	font-family: "Condensed";
	src: url("../../fonts/Onest Condensed-08-hint.ttf") format("opentype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Condensed";
	src: url("../../fonts/Onest Condensed Italic-08-hint.ttf") format("opentype");
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "Condensed";
	src: url("../../fonts/Onest Condensed Bold-093-hint.ttf") format("opentype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Condensed";
	src: url("../../fonts/Onest Condensed Bold Italic-093-hint.ttf") format("opentype");
	font-style: italic;
	font-weight: 700;
}

$condensed: 'Condensed', sans;